@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'custom';
  src: url('/fonts/titlefont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}